<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Coin</th>
      <th scope="col">Held</th>
      <th scope="col">Available</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
  {{#each data}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{ this.coin}}</td>
      <td>{{ this.held }}</td>
      <td>{{ this.available }}</td>
      <td>{{ this.total}}</td>
    </tr>
{{/each}}
  </tbody>
</table>
